.container-students {
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.li-students {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 1.5rem;
}

li {
    margin-bottom: 1rem;
}